


footer{
    background-color: #333;
    color: #f2f2f2;
    font-size: 16px;
    font-weight: 400;
    padding: 50px;
    text-align: left;
}


.barra {
    background-color: #333;
    overflow: hidden;
  }
  
.texto{
	  color: #f2f2f2;
  }
  .barra a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
 
  .barra a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .logo img{
    width: 70px;
    height: 20px;
  }

  body{
	height: 100%; 
	font-family: 'Noto Sans', sans-serif;
    background-color: #f2f2f2; 
}


.contact_form{	
	width: 460px; 
    height: auto;
    margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
    background-color: #333; 
    padding-left: 30px; 
}


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
}


textarea{
    background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}


label{
    display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #f2f2f2; 
	border-radius: 10px;	
	width: 420px;   
    cursor: pointer;


}


button p{
	color: #a8a8a8; 
}


span{
	color: #f2f2f2; 
}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}


.formulario h1{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
    color: #f2f2f2;
}


.formulario h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #f2f2f2;   
}


.formulario p{
	font-size: 14px; 
	color: #f2f2f2; 
}

.pie{
	color: #f2f2f2;
}

.imagenes{
	display: block;
	margin: auto;
	align-items: center;
	text-align: center;
	margin-top: 1%;
}

.polaroid{
	text-align: center;
	padding: 10px 20px;
}

a{
	color:#4ca1f5;
}